{% extends "Blog/Blog.twig" %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h1>{{ category.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      {% for post in category.posts %}
        <div class="row">
          <div class="span8 post">
            <h1 class="title">
              <a href="/blog/posts/{{ post.id }}">{{ post.title }}</a>
            </h1>
            <h4 class="date">{{ post.date|date('d F \'y') }}</h4>
            <p class="blurb">{{ post.blurb }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="span4">
      {% include 'Blog/categories.twig' %}
    </div>
  </div>
{% endblock %}
