{% extends "Blog/Blog.twig" %}

{% block content %}
  {% for year, yearPosts in posts %}
    <div class="row">
      <div class="span12">
        <h1>{{ year }}</h1>

        {% for month, monthPosts in yearPosts %}
          {% for day, dayPosts in monthPosts %}
            {% for post in dayPosts %}
              <div class="row">
                <div class="offset2 span6">
                  <h1>
                    <a href="{{ post.url }}">
                      {{ post.title }}
                    </a>
                  </h1>
                  <h3>Posted on {{ post.date.string }}</h3>
                  {{ post.blurb | raw }}
                  <hr />
                </div>
              </div>

            {# End post loop #}
            {% endfor %}

          {# End day loop #}
          {% endfor %}

        {# End month loop #}
        {% endfor %}

      </div>
    </div>
  {# End year loop #}
  {% endfor %}
{% endblock %}
