{% extends "Blog/Blog.twig" %}

{% block content %}
  <div class="row">
    <div class="span8">
      <div class="row">
        <div class="post">
          <h4 class="category">{{ post.category }}</h4>
          <h1 class="title">
            <a href="{{ post.date|date('Y/m/') }}{{ post.slug }}">{{ post.title }}</a>
          </h1>
          <h4 class="date">{{ post.date|date('d F \'y') }}</h4>
          <p class="blurb">{{ post.contents|raw }}</p>
        </div>
      </div>
    </div>
    <div class="span4">
      {% include 'Blog/categories.twig' %}
    </div>
  </div>
{% endblock %}
