{% extends "FourChanDash/FourChanDash.twig" %}

{% block content %}
  <header class="jumbotron subhead">
      <h1>4Chan Dashboard</h1>
      <p class="lead">Graph the total number of posts and post frequency for each 4chan board</p>
  </header>
    <div class="row">
  {% for category, list  in boards %}
    {% if loop.index % 3 == 1 %}
      {% set dataParent = loop.index %}
      <div class="span6">
        <div class="accordion" id="accordion_{{dataParent}}">
    {% endif %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{dataParent}}" href="#accordionGroup_{{loop.index}}">
          <h2>{{category}}</h2>
        </a>
      </div>
      <div class="accordion-body collapse" id="accordionGroup_{{loop.index}}">
        <div class="accordion-inner">
          {% for board in list %}
              <a class="btn btn-primary span2 boardToggle" id="{{board.name}}" style="margin:1px" href="#" data-toggle="button">
                {{board.description}}
              </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if loop.index % 3 == 0 %}
        </div>
      </div>
    {% endif %} 
  {% endfor %}
  </div>
  <div class="row">
    <div class="span3">
      <h2>From</h2>
      <input name="from" date-datepicker="datepicker" type="text" />
    </div>
    <div class="span3">
      <h2>To</h2>
      <input name="to" date-datepicker="datepicker" type="text" />
    </div>
    <div class="span6">
      <a href="#" id="graph" class="btn btn-primary btn-large span2 pull-right" style="margin-top:27px">Graph!</a>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="graphContainer"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="/js/Bootstrap/bootstrap-button.js"></script>
  <script src="/js/Bootstrap/bootstrap-collapse.js"></script>
  <script src="/js/Highcharts-2.2.0/highcharts.js"></script>
{% endblock %}
